<div class='container'>
    <div class='col s1 text center'>
        <h5>Create an Account or Login</h5>
        <a href='/users/register' class='btn-large pink-lighten-1'>Register</a>
        <a href='/users/login' class='btn-large pink-lighten-1'>Login</a>
    </div>
</div>